<a href="/blog"><button class="btn" style="float: right; margin-right: 10px;">Voltar</button></a>

<div class="sec">
        <h1>{{post.titulo}}</h1>
        <hr>
        <small>{{post.date}}</small>
        <hr><br>
    <div style="text-align: justify; text-indent: 1rem;">
        {{post.texto}}
    </div>
</div>
