<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="shortcut icon" href="/images/icone.ico" type="image/x-icon">
    <script src="/scripts/script.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{#if titulo}}
            {{titulo}}
        {{else}}
            FT Tech - Soluções para tecnologias
        {{/if}}
    </title>
</head>
<body>
    <header class="header">{{>_header}}</header>
    <main class="main">
        {{>_msg}}
        {{{body}}}
    </main>
    <footer class="footer">{{>_footer}}</footer>
</body>
</html>