<div class="sec">
    <h1>A rota solicitada não existe!</h1>
</div>
<br>
<section class="container">
    <div class="sec"><a href="/contatos"><button class="btn">Fale conosco</button></a></div>
    <div class="sec"><a href="/"><button class="btn">Voltar para página inicial</button></a></div>
</section>
