<section class="sec">
    <div>
        <h1>Precisa de auxilio?</h1>
        <hr>
        <p>Não perca tempo, entre já em contato!</p>
    </div>
</section>
<section class="container" style="padding-bottom: 15%;">
    <div>
        <h2>Contatos</h2>
        <br>
        <p>
            Email:
            <br>
            fttech@fttech.com.br
        </p>
        <p>
            WhatsApp:
            <br>
            <a href="https://api.whatsapp.com/message/2OXBWZ6WTRTAH1" target="_blank">37 9 9860-0224</a>
        </p>
        <p>
            Intagram:
            <br>
            <a href="http://intagram.com/fttechpm" target="_blank">@fttechpm</a>
        </p>

    </div>
    <div>
        <p>
            Podemos buscar a sua máquina ou pode trazêla até nós, da forma que fique mais confortável para você. 
        </p>
        <h2>Onde estamos?</h2>
        <div class="contatos-mapas">
            <a href="https://www.google.com/maps/place/R.+Zuleica+Moreira+Barbosa,+125+-+Recanto+da+Lagoa,+Par%C3%A1+de+Minas+-+MG,+35661-080,+Brasil/@-19.8625537,-44.5726139,15.5z/data=!4m5!3m4!1s0xa73b63a9b85cfb:0xf3dc649881309fa7!8m2!3d-19.8644842!4d-44.5759839?hl=pt" target="_blank"><p> Rua Zuleica Moreira Barbosa, 125 - Recanto</p></a>
            <br>
            <a href="https://www.google.com/maps/place/Rua+Altino+Corr%C3%AAa+Viana,+422+-+Jardim+das+Piteiras,+Par%C3%A1+de+Minas+-+MG,+35661-250,+Brasil/@-19.8806583,-44.595937,16.5z/data=!4m5!3m4!1s0xa73bbad8ccb273:0xbcf2d717ecde7d7f!8m2!3d-19.8804856!4d-44.5981339?hl=pt" target="_blank"><p>Rua Altino Corrêa Viana, 422 - Jardim das Piteiras</p></a>
        </div>

    </div>
</section>
