<section id="homepage">
    <div style="position: relative; top:40%; text-align: center;">
        <h1 style="font-size: 4em; color: white"> <strong>Soluções em tecnologias</strong> </h1>
        <hr style="width:50%; margin: auto; border-top:3px double white">
        <p><a href="/servicos" style="text-decoration: none; color:white; font-size: 1.5em">Manutenções | Upgrade | Montagem</a></p>
    </div>
</section>
<section class="container">
    <div>
        <p>O melhor custo beneficio da cidade</p>
        <h2><b>Bem vindo !</b></h2>
        <hr style="width:80%;  border-top:1px double #3a3a3a">
        <p>A FT Tech surgiu de pessoas que buscam entregar sempre o melhor resultado com o menor tempo, focados nos resultados e satisfação de seus clientes.</p>
        <a href="/quem"><button class="btn">Sobre nós</button></a>
    </div>
    <div><img src="/images/note-home.png" alt="Desenho de um notebook com fundo azul" style="width: 100%; border-radius: 40%"></div>
    <div style="text-align: left;">
        <h2><b>Precisa de ajuda?</b></h2>
        <p>Atuamos atualmente em Pará de Minas. Podemos buscar a sua máquina ou pode trazê-la até nós!</p>
        <a href="/contatos"><button class="btn">Entre em contato</button></a>
    </div>
</section>
