<section class="sec">
    <div>
        <h1>O que é a FT Tech?</h1>
        <br>
        <hr>
        <br>
        <p>A empresa surgiu do espirito empreendedor dos estudantes de engenharia da computação e atuais donos Felipe e Tomás.</p>
    </div>
</section>
<br>
<section id="quemSomos" class="sec">
    <div style="text-align: left;">
        <h2>Valores</h2>
        <br>
        <hr class="hr-quem">
        <br>
        <p>Bom atendimento e preços justos em nossas prestações de serviços.</p>
    </div>
    <br>
    <div style="text-align: right;">
        <h2>Visão</h2>
        <div style="width: 300px; float:right">
            <hr class="hr-quem">
        </div>
        <br>
        <p>Ser referência em relação à boa comunicação e relacionamento com cliente.</p>
    </div>
    <br>
    <div style="text-align: left;">
        <h2>Missão</h2>
        <br>
        <hr class="hr-quem">
        <br>
        <p>Oferecer as melhores prestações de serviços visando o conforto do cliente e excelência nos resultados a longo prazo.</p>
        <br>
    </div>
</section>
<br>
<div style="text-align: center;">
    <a href="/servicos" style="margin-right: 5%";><button class="btn">Conheça nossos serviços</button></a> 
    <a href="/contatos"><button class="btn">Fale conosco</button></a>
</div>
