<section class="sec" style="background-color: white;">
    <div>   
        <h1>Melhoria e manutenção em seus equipamentos</h1>
        <p>A FT Tech é uma empresa especializada em upgrades e manutenções em desktop ou notebooks.</p>
    </div>
</section>
<br>
<section class="container" style="text-align: center;">
    <div>
        <img class="servicos-img" src="/images/servicos-preventiva.jpg" alt="">
        <p>Prevenção e Correção</p>
        <h2>Manutenções</h2>
        <br>
        <p>Manutenções preventivas e corretivas com profissionais qualificados.</p>
    </div>
    <div>
        <img class="servicos-img" src="/images/servicos-placa.jpg" alt="">
        <p>Mais desempenho</p>
        <h2>Melhorias</h2>
        <br>
        <p>Upgrades em sua máquina para que possa obter melhores resultados seja nos trabalhos, estudos ou gameplays.</p>
        <br><br>
        <a href="/contatos"><button class="btn">Fale conosco</button></a>
    </div>
    <div>
        <img class="servicos-img" src="/images/servicos-note.jpg" alt="">
        <p>Suas necessidades</p>
        <h2>Consultorias</h2>
        <br>
        <p>Monte seu computador conosco de acordo com suas necessidades e uso.</p>
    </div>
</section>
